@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap'); 

.tweet-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

#tweet-text {
  width: 100%;
  height: 50px;
  outline: 0;
  border-width: 0 0 4px;
  background-color: #F8EDEB;
  border-color: #FEC89A;
  margin-bottom: 40px;
}

.tweet-form__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet-form__bottom__counter {
  font-weight: 600;
}

.tweet-form__bottom__counter--negative {
  color: #f08080;
}

.tweet-form__bottom__submit-button {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.tweet-form__bottom__submit-button::after {
  content: "";
  background-color: #FEC89A;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.tweet-form__bottom__submit-button::hover::after {
  top: 0px;
  left: 0px;
}

.floating-label-group {
	position: relative;
	margin-top: 15px;
	margin-bottom: 25px;

}

.floating-label {
  /* font-size: 13px; */
  color: #212529;
  position: absolute;
  pointer-events: none;
  top: 9px;
  left: 12px;
  transition: all 0.1s ease;
}

input:focus ~ .floating-label,
	input:not(:focus):valid ~ .floating-label {
		top: -30px;
		bottom: 0px;
		left: 0px;
		font-size: 20px;
		/* opacity: 1; */
		color: #212529;
	}







