@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&family=Ultra&display=swap'); 

.nav {
  position: fixed;
  display: flex;
  height: 120px;
  width: 100%;
  color: #545149;
  padding-top: 1.75em;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
}

.nav--background {
  background-color: #FFB5A7;
}

 .nav__left {
  display: flex;
  font-family: 'Ultra', serif;
  align-content: center;
 }

 .nav__right {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .nav__right__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none; 
  background: none;
 }

 i {
  display: inline-block;
  color: #f08080; 
  padding: 10px 20px 10px 20px;
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  cursor: pointer;
}

 i:hover {
  color: #545149; 
}

#write-icon {
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  cursor: pointer;
}

#write-icon.down {
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}

