@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap'); 

nav {
  position: fixed;
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #fec89a;
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.75em;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

i {
  color: #f08080; 
 }

 .left-nav {
  display: flex;
  font-family: 'Bungee Shade', Sans-Serif;
  font-size: 32px;
  align-content: center;
 }

 .right-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

