@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap");
.tweet,
.tweet--placeholder {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 2em;
  padding: 1em;
  border-color: #444;
  border-width: 1px;
  border-radius: 1px;
  border-style: solid;
}

.placeholder {
  background-color: #444;
  height: 24px;
  border-radius: 100px;
  opacity: 0.1;
  animation: fading 1.5s infinite;
}

.tweet--hidden {
  display: none;
}

.tweet:hover {
  box-shadow: #FEC89A 8px 8px;
}

.tweet__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet__user {
  display: flex;
  align-items: center;
}

.tweet__userName {
  padding-left: 0.75em;
  font-weight: 600;
}

.tweet__userName--placeholder {
  display: inline-block;
  margin: 0 0 0 0.75em;
  min-width: 100px;
}

.tweet__userImage {
  width: 65px;
  height: 65px;
}

.tweet__userImage--placeholder {
  width: 65px;
  height: 65px;
  border-radius: 65px;
}

.tweet__tweet {
  font-size: 22px;
}

.tweet__tweet--placeholder {
  display: inline-block;
  padding-bottom: 0em;
  width: 100%;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #444;
  height: 1px;
  margin-bottom: 1em;
}

.tweet__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet__date {
  font-size: 16px;
  font-weight: 600;
}

@keyframes fading {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.1;
  }
}
