@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap'); 

.tweet {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  border-color: #212529;
  border-width: 1px;
  border-radius: 1px;
  border-style: solid;
}
.tweet:hover {
  box-shadow: rgba(254, 200, 154, 1) 8px 8px
}

.tweet__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet__header__user {
  display: flex;
  align-items: center;
}

.tweet__header__user__name {
  padding-left: 0.75em;
  font-weight: 600;
}

.tweet__header__user__image {
  width: 65px;
  height: 65px;
}

.tweet__tweet {
  font-size: 22px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#212529;
  height: 1px;
  margin-bottom: 1em;
}

.tweet__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet__footer__date {
  font-size: 16px;
  font-weight: 600;
}

/* .tweet__footer__social { */
  /* display: flex; */
  /* width: 5em; */
  /* justify-content: space-between; */
/* } */





